################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Util/obj
/Util/Util/bin/Debug/net7.0
/Util/Util/obj
/Util/Util/Program.cs
/Util/Util/testme.cs
/Util/.vs/ProjectEvaluation/util.projects.v5.2
/Util/.vs/ProjectEvaluation/util.metadata.v5.2
/Util/.vs/Util/DesignTimeBuild/.dtbcache.v2
/Util/.vs/Util/FileContentIndex/cbbb3f15-9112-4120-906a-a284d6d5df42.vsidx
/Util/.vs/Util/FileContentIndex/ab36fb1a-96fd-41bf-b2b1-b57151bea3e9.vsidx
/Util/.vs/Util/FileContentIndex/7da41fab-fe2f-4115-b4ee-b88456800a4a.vsidx
/Util/.vs/Util/FileContentIndex/61e9fe7e-1ad9-4e11-b0a9-fe1b856e1755.vsidx
/Util/.vs/Util/v17/.suo
/Util/.vs/Util/v17/.futdcache.v2
/Util/.vs/Util/FileContentIndex
