################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Util/obj
/Util/Util/bin/Debug/net7.0
/Util/Util/obj
/Util/Util/Program.cs
